# Series

In [7]:
import pandas as pd

x = [1,2,3,4]
var = pd.Series(x)
print(var)
print(type(var))
print(var[2])

0    1
1    2
2    3
3    4
dtype: int64
<class 'pandas.core.series.Series'>
3

In [6]:
x = [1,2,3,4]
var = pd.Series(x, index=['a','s','d','f'], dtype='float')
print(var)
print(type(var))

a    1.0
s    2.0
d    3.0
f    4.0
dtype: float64
<class 'pandas.core.series.Series'>

In [8]:
dic = {"Name":["Python","Java","C++","C"],"Rank":[1,2,3,4]}

var1 = pd.Series(dic)

print(var1)

Name    [Python, Java, C++, C]
Rank              [1, 2, 3, 4]
dtype: object

In [9]:
s = pd.Series(12,index=[1,2,3,4])
print(s)

1    12
2    12
3    12
4    12
dtype: int64

In [10]:
s1 = pd.Series(12,index=[1,2,3,4])
s2 = pd.Series(12,index=[1,2])

print(s1+s2)

1    24.0
2    24.0
3     NaN
4     NaN
dtype: float64