### Interpolation is a technique in Python used to estimate unknown data points between two known data points. Interpolation is mostly used to impute missing values in the dataframe or series while pre-processing data.

In [1]:
import pandas as pd

In [3]:
var = pd.read_csv("C:\\Users\\pankajsingh04\\Documents\\Pandas\\Products.csv")
var

,ProductKey,Country,EnglishProductName,SalesAmount,UnitPrice,TaxAmt,TotalProductCost
0,336,Italy,"Road-650 Black, 62",699.0982,699.0982,55.9279,413.1463
1,222,United States,"Sport-100 Helmet, Blue",34.9900,34.9900,2.7992,13.0863
2,540,Canada,HL Road Tire,32.6000,NaN,2.6080,12.1924
3,536,Italy,ML Mountain Tire,29.9900,NaN,2.3992,NaN
4,490,Germany,"Short-Sleeve Classic Jersey, L",53.9900,NaN,4.3192,NaN
5,225,NaN,NaN,8.9900,NaN,0.7192,6.9223
6,390,United States,NaN,1120.4900,1120.4900,89.6392,713.0798
7,479,India,Road Bottle Cage,8.9900,8.9900,0.7192,3.3623
8,463,United States,"Half-Finger Gloves, S",24.4900,24.4900,1.9592,9.1593

In [5]:
var.interpolate()
# It doen't generate string data

C:\Users\pankajsingh04\AppData\Local\Temp\ipykernel_22112\792821658.py:1: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  var.interpolate()

,ProductKey,Country,EnglishProductName,SalesAmount,UnitPrice,TaxAmt,TotalProductCost
0,336,Italy,"Road-650 Black, 62",699.0982,699.0982,55.9279,413.1463
1,222,United States,"Sport-100 Helmet, Blue",34.9900,34.9900,2.7992,13.0863
2,540,Canada,HL Road Tire,32.6000,252.0900,2.6080,12.1924
3,536,Italy,ML Mountain Tire,29.9900,469.1900,2.3992,10.4357
4,490,Germany,"Short-Sleeve Classic Jersey, L",53.9900,686.2900,4.3192,8.6790
5,225,NaN,NaN,8.9900,903.3900,0.7192,6.9223
6,390,United States,NaN,1120.4900,1120.4900,89.6392,713.0798
7,479,India,Road Bottle Cage,8.9900,8.9900,0.7192,3.3623
8,463,United States,"Half-Finger Gloves, S",24.4900,24.4900,1.9592,9.1593