In [1]:
import pandas as pd

In [14]:
var1 = pd.DataFrame({"A":[1,2,3,4,5],"B":[11,12,13,14,15]},index=["a","b","c","d","e"])
var2 = pd.DataFrame({"D":[1,2,3],"C":[21,22,23]},index=["a","b","c"])

In [15]:
var1.join(var2)

   A   B    D     C
a  1  11  1.0  21.0
b  2  12  2.0  22.0
c  3  13  3.0  23.0
d  4  14  NaN   NaN
e  5  15  NaN   NaN

In [16]:
var2.join(var1,how="outer")

     D     C  A   B
a  1.0  21.0  1  11
b  2.0  22.0  2  12
c  3.0  23.0  3  13
d  NaN   NaN  4  14
e  NaN   NaN  5  15

## Append

In [18]:
var1 = pd.DataFrame({"A":[1,2,3,4,5],"B":[11,12,13,14,15]},index=["a","b","c","d","e"])
var2 = pd.DataFrame({"D":[10,20,30],"B":[21,22,23]},index=["a","b","c"])

In [22]:
# var2.append(var1)